#root {
  max-width: 1280px;
  margin: 0 auto;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Ensure border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}
